body {
	background-color: #F9F9F6;
	font-family: $body-font;
	font-size: 16px;
	color: #888786;
}

h1, h2, h3, h4, ul, ol, li {
	margin: 0;
}

p {
	margin: 0;
}

.branded-font {
	font-family: $header-font;
}

.inner-wrapper {
	max-width: 990px;
	margin: 0 auto;
	padding: 0 30px;
}

.site-header_hero {
	position: relative;
	height: 95vh;
	min-height: 400px;
	background-size: cover;
	background-position: top right;
	border-top: 20px solid #888785;
	border-bottom: 20px solid #888785;
	@media all and (max-width: 667px) {
		height: 60vh;
		background-position: 80% center;
	}
	.hero-content {
		position: absolute;
		top: 40%;
		right: 95px;
		transform: translateY(-40%);
		max-width: 400px;
		@media all and (max-width: 667px) {
			right: 20px;
			max-width: 250px;
		}
		img {
			width: 275px;
			@media all and (max-width: 667px) {
				width: 230px;
			}
		}
		p {
			padding-top: 20px;
			font-size: 24px;
			text-transform: uppercase;
			color: #1E1A17;
			@media all and (max-width: 667px) {
				font-size: 16px;
			}
		}
	}
}

.about {
	padding: 120px 0;
	@media all and (max-width: 667px) {
		padding: 60px 0;
	}
	p {
		font-size: 22px;
		@media all and (max-width: 667px) {
			font-size: 18px;
		}
	}
}

.address {
	padding: 80px 0 100px 0;
	background-size: cover;
	background-position: center center;
	text-align: center;
	text-transform: uppercase;
	color: white;
	p {
		font-size: 26px;
		@media all and (max-width: 667px) {
			font-size: 18px;
		}
		@media all and (max-width: 430px) {
			max-width: 250px;
			margin: 0 auto;
		}
	}
}

footer .site-info {
	padding: 30px 0;
	background-color: #888785;
	font-size: 14px;
	color: #ffffff;
	text-align: center;
}