input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	padding: 10px;
	border-radius: 0;
	border: 1px solid #EAEAEA;
	background-color: #F8F8F8;
	outline: none;
	&:focus {
		border: 1px solid #6E2424;
	}
}

select {
	border: 1px solid #EAEAEA;
}

textarea {
	width: 100%;
}
