body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

@font-face {
    font-family: Trajan;
    src: url(./fonts/TrajanPro-Regular.otf);
}

@font-face {
    font-family: TrajanBold;
    src: url(./fonts/TrajanPro-Bold.otf);
}

@font-face {
    font-family: CenturyGothic;
    src: url(./fonts/CenturyGothic.ttf);
}

@import "headings";

@import "copy";