@font-face {
    font-family: Trajan;
    src: url(./fonts/TrajanPro-Regular.otf);
}

@font-face {
    font-family: TrajanBold;
    src: url(./fonts/TrajanPro-Bold.otf);
}

@font-face {
    font-family: CenturyGothic;
    src: url(./fonts/CenturyGothic.ttf);
}

@font-face {
    font-family: CenturyGothicBold;
    src: url(./fonts/CenturyGothic-Bold.ttf);
}

@import "headings";

@import "copy";